#apple{
width: 10px;
height: 10px;
position: absolute;
left:300px;
top:220px;
cursor:pointer;
}
#tree{
height:700px;
width: 700px;
position: absolute;
left:-200px;
top:-200px;


}



#appshop{
    color:rgb(255, 180, 180);
}
#back{
    background-color:orangered
   
}
#one{
    border:solid black 5px;
    position:absolute;
    width:1000px;
    height:930px;
    top:20px;
    left:10px;
    background-color: aqua;
}
#two{
   background-color: yellowgreen;
    width:1000px;
    height:340px;
    position:absolute;
    left:0px;
    top:590px;
    
}
#three{
    
    border:solid black 5px;
    width:870px;
    background-color:gray;
    height:950px;
    position:absolute;
    right:0px;
    top:20px;
    text-align:center;
    color:white;
    font-size:30px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    
}
#apptext{
color:white;
position:absolute;
top:200px;
left:200px;
font-size:45px;
font-family:"Comic Sans MS", cursive, sans-serif;
}
#counter{
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:white;
    position:absolute;
    top:200px;
    left:370px;
    font-size:45px;
}
#myaudio{
    position:absolute;
    right:180px;
    bottom:30px;
    cursor:pointer;
}
#settings{
    position:absolute;
    right:10px;
    bottom:10px;
    cursor:pointer;
}
#four{
border: 4px solid black;
height:300px;
width:664px;
position:absolute;
right:0px;
bottom:0px;
background-color:white;
color:black;
display:none;
}
#headMus{
    position:absolute;
    left:75px;
    bottom:80px;
font-size:30px;
}
#x_1{
    height:50px;
    width:60px;
    position:absolute;
    left:-10px;
    top:-10px;
}
#x{
    position:absolute;
    left:10px;
    top:10px;

}



/*CLICK FOR YOU */
#idle{
    position:absolute;
font-size:40px;
color:rgb(228, 190, 250);
left:80px;
top:100px;
}
#friend{
position:absolute;
font-size:30px;
left:10px;
top:150px;
color:rgb(219, 147, 255);
}
#friendCounter{
    position:absolute;
    font-size:30px;
    left:140px;
    top:150px;
    color:rgb(219, 147, 255);
    }
 #addFriend1{
position:absolute;
font-size:20px;
left:280px;
top:182px;
color:rgb(143, 24, 202);
cursor:pointer;
    }



#grandma{
    position:absolute;
    font-size:30px;
    left:10px;
    top:250px;
    color:rgb(144, 55, 233);
}
#grandmaCounter{
    position:absolute;
    font-size:30px;
    left:165px;
    top:250px;
    color:rgb(144, 55, 233);
}
#addGrandma1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:282px;
    color:rgb(144, 55, 233);
    cursor:pointer;
        }



#farm{
    position:absolute;
    font-size:30px;
    left:10px;
    top:350px;
    color:rgb(126, 0, 252);
}
#farmCounter{
    position:absolute;
    font-size:30px;
    left:105px;
    top:350px;
    color:rgb(126, 0, 252);

}
#addFarm1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:382px;
    color:rgb(126, 0, 252);
    cursor:pointer;

}




#region{
    position:absolute;
    font-size:30px;
    left:10px;
    top:450px;
    color:rgb(127, 243, 247);
}
#regionCounter{
    position:absolute;
    font-size:30px;
    left:125px;
    top:450px;
    color:rgb(127, 243, 247);

}
#addRegion1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:482px;
    color:rgb(127, 243, 247);
    cursor:pointer;

}




#country{
    position:absolute;
    font-size:30px;
    left:10px;
    top:550px;
    color:rgb(0, 230, 238);
}
#countryCounter{
    position:absolute;
    font-size:30px;
    left:142px;
    top:550px;
    color:rgb(0, 230, 238);
}
#addCountry1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:582px;
    color:rgb(0, 230, 238);
    cursor:pointer;

}




#planet{
    position:absolute;
    font-size:30px;
    left:10px;
    top:650px;
    color:rgb(10, 133, 247);
}
#planetCounter{
    position:absolute;
    font-size:30px;
    left:120px;
    top:650px;
    color:rgb(0, 132, 255);
}
#addPlanet1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:682px;
    color:rgb(0, 132, 255);
    cursor:pointer;
}




#galaxy{
    position:absolute;
    font-size:30px;
    left:10px;
    top:750px;
    color:rgb(57, 86, 253);
}
#galaxyCounter{
    position:absolute;
    font-size:30px;
    left:130px;
    top:750px;
    color:rgb(57, 86, 253);

}
#addGalaxy1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:782px;
    color:rgb(57, 86, 253);
    cursor:pointer;

}




#universe{
    position:absolute;
    font-size:30px;
    left:10px;
    top:850px;
    color:rgb(4, 0, 255)
}
#universeCounter{
    position:absolute;
    font-size:30px;
    left:155px;
    top:850px;
    color:rgb(4, 0, 255)

}
#addUniverse1{
    position:absolute;
    font-size:20px;
    left:280px;
    top:882px;
    color:rgb(4, 0, 255);
    cursor:pointer;

}







/* PER CLICK*/
#clicks{
    position:absolute;
    font-size:40px;
    left:540px;
    top:100px;
    color:rgb(255, 251, 192)
}
#helpinghand{
    position:absolute;
    font-size:30px;
    left:420px;
    top:150px;
    color:rgb(255, 255, 124)
}
#helpinghandcounter{
    position:absolute;
    font-size:30px;
    left:630px;
    top:150px;
    color:rgb(255, 255, 124)
}
#addhelpinghand1{
    position:absolute;
    font-size:20px;
    left:750px;
    top:182px;
    color:rgb(223, 223, 19);   
    cursor:pointer;
    
}


#octopus{
    position:absolute;
    font-size:30px;
    left:420px;
    top: 250px;
    color:rgb(230, 169, 15); 
}
#octopusCounter{
    position:absolute;
    font-size:30px;
    left:555px;
    top:250px;
    color:rgb(230, 169, 15); 

}
#addOctopus1{
    position:absolute;
    font-size:20px;
    left:750px;
    top:282px;
    color:rgb(230, 169, 15);   
    cursor:pointer;
    

}
#metallic-arm{
    position:absolute;
    font-size:30px;
    left:420px;
    top:350px;
 color:rgb(255, 123, 0);
}
#metallicCounter{
    position:absolute;
    font-size:30px;
    left:625px;
    top:350px;
    color:rgb(255, 123, 0);
    
    
}
#addMetallic1{
      position:absolute;
    font-size:20px;
    left:750px;
    top:382px;
    color:rgb(255, 123, 0);
    cursor:pointer;
    
}






#deforestation{
    position:absolute;
    font-size:30px;
    left:420px;
    top:450px;
    color:rgb(252, 85, 24);
}
#forestCounter{
    position:absolute;
    font-size:30px;
    left:640px;
    top:450px;
    color:rgb(252, 85, 24);
    
    
}
#addForest1{
    position:absolute;
    font-size:20px;
    left:750px;
    top:482px;
    color:rgb(252, 85, 24);
    cursor:pointer;
    
}






#high-tech{
    position:absolute;
    font-size:30px;
    left:420px;
    top:550px;
    color:rgb(252, 24, 24);
}
#techCounter{
    position:absolute;
    font-size:30px;
    left:590px;
    top:550px;
    color:rgb(252, 24, 24);
    
    
}
#addTech1{
    position:absolute;
    font-size:20px;
    left:750px;
    top:582px;
    color:rgb(252, 24, 24); 
    cursor:pointer;
    
}








/*Notes 
Use hover and a transition property ( plug in numbers ) check email /*